* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #24252a;
}
.header {
  padding: 30px 10%;
  background-image: url(images/Stars.jpeg);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  border: none;
  align-items: center;
  background-color: transparent;
}

.nav-bar {
  margin: 20px, 20px, 20px, 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style: none;
  font-size: 25px;
}
.nav-bar li {
  display: inline-block;
  padding: 0px 20px;
}
.nav-bar li a {
  background-color: transparent;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}
.nav-bar li a:hover {
  color: #fc4848;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.side-text {
  position: absolute;
  bottom: 200px;
  left: 16px;
}
.about-me {
  position: absolute;
  left: 37px;
  bottom: -276px;
  font-size: 100px;
  display: inline-block;
  border-right: 6px solid cyan;
  height: 900px;
}
.p1 {
  bottom: 90px;
  font-size: 30px;
  position: relative;
  left: 472px;
  margin-left: 3%;
  text-align: left;
}
img {
  border: 5px solid black;
  border-radius: 50px 50px 50px 50px;
  max-width: 40%;
  max-height: 40%;
  margin-left: 50%;
  position: relative;
  text-align: center;
}
.img1 {
  max-width: 20%;
  max-height: 20%;
  right: 200px;
  bottom: -25px;
}

.h1 {
  display: inline;
  left: 20px;
}
.h2 {
  font-size: 70px;
  color: white;
  margin-left: 46%;
}

.projects {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.card-1 {
  background-color: cyan;
  width: 1300px;
  height: 700px;
  margin: 10px;
  border-radius: 20px;
  margin-left: 25%;
}
.card {
  background-color: cyan;
  width: 1000px;
  height: 700px;
  margin: 10px;
  border-radius: 20px;
}
.card-image {
  height: 75%;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 20px 20px 20px 20px;
}
.img {
  background-image: url(images/recipe_app.PNG);
  border: 5px solid black;
}
.img-1 {
  background-image: url(images/Kaaba.jpg);
  border: 5px solid black;
}
.img-2 {
  background-image: url(images/Roadtrip.jpg);
  border: 5px solid black;
}
.img-3 {
  background-image: url(images/Stars.jpeg);
  border: 5px solid black;
}
.img-4 {
  background-image: url(images/Weather.jpg);
  border: 5px solid black;
}
.card-h {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 50px;
}
.card-p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin-bottom: 0%;
  font-size: 30px;
}
.card:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.card-1:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
main a[href] {
  text-decoration: none;
  color: #ffffff;
}
section a[href] {
  text-decoration: none;
  color: #ffffff;
}
footer.footer {
  text-align: center;
}
ul.footer-ul {
  display: inline-block;
  text-align: left;
}
.footer ul li {
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  display: inline-block;
}

footer ul li a[href] {
  text-decoration: 2px underline;

  font-size: 20px;
  color: white;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
footer ul li a[href]:hover {
  color: red;
}
.h3 {
  display: inline-block;
  font-size: 60px;
  margin-left: 45%;
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
